body {
  font-weight: bold;
  background-color: #C9E3F8;
}

.discipline-content {
  margin-top: 10px;

  .discipline-block {
    min-height: 250px;
    background-color: #FFF;
    margin: 10px 0;
    position: relative;

    .header {
      background-color: #65A1D5;
      padding: 10px 10px;
      font-size: 18px;
      line-height: 23px;
      min-height: 70px;
    }

    .body {
      padding: 10px 5px;
    }

    .more {
      position: absolute;
      bottom: 0;
      padding: 10px 5px;
      text-align: center;
      width: 100%;
    }
  }
}
